table {
    position: relative;
    background: #203A43;
    border-radius: 10px;
    cursor:context-menu;
    border-collapse: collapse;
    table-layout: fixed;
}

.title-table {
    border: none;
    padding: 5px;
}

table th, td {
    border-top: 1px solid;
    border-color: #ffffff;
    padding: 0.25em;
    text-align: center;
    word-break: break-word;
    font-size: min(1.5rem, 1vw, 2.5rem);
}