.container-form-movements {
    position: relative;
    background: #203A43;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.container-form-movements h2 {
    font-size: 30px;
    padding: 15px;
}

.form-movements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.form-movements >*:nth-last-child(1):nth-child(odd) {
    grid-column: span 2;
}

.form-movements .form-group {
    position: relative;
    margin: 10px 0;
}

.form-movements .form-group input, select, textarea {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
    padding: 6px 18px;
}

.form-group label {
    position: absolute;
    justify-items: center;
    left: 40px;
    padding: 6px 20px;
    transition: 0.2s ease all;
    pointer-events: none;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group select:focus + label,
.form-group select:valid + label,
.form-group textarea:focus + label,
.form-group textarea:not(:placeholder-shown) + label {
  top: -20px;
  font-size: 14px;
  color: #fff;
  background: none;
}


.form-group input:focus,
.form-group input:not(:placeholder-shown),
.form-group select:focus,
.form-group select:valid,
.form-group textarea:focus,
.form-group textarea:not(:placeholder-shown) {
  outline: none;
  border-bottom: 1px solid;
  border-top: none;
}

#description {
    width: 400px;
    padding: 12px;
}

.form-group option {
    background: #203A43;
}

.group-btn {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    margin: 0 20px; 
}

.group-btn button:hover {
    background: #2C5364;
    cursor: pointer;
    transition: trasform 0.3s ease;
    transform: scale(1.1);
}
