.container-home {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

.container-cards-filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-cards {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.summary-card {
  width: 160px;
  height: 60px;
  background-color: #203A43;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-filter {
  position: relative;
  margin: 0 420px 0 0;
}

.filter i {
  color: #203A43;
  font-size: 30px;
}

.filter .icon-tooltip .tooltip-text {
  font-size: 16px;
  color: #203A43;
  left: 220%;
  top: 5%;
}

.groups-options {
  visibility: hidden;
  position: fixed;
  display: flex;
  gap: 10px;
  padding: 5px;
  border-radius: 10px;
}

.group-filter {
  position: relative;
  margin: 10px 0;
}

.group-filter select {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 150px;
  padding: 6px 0;
}

.group-filter label {
  position: absolute;
  font-size: 14px;
  margin: 6px 20px;
  left: 0;
  transition: 0.2s ease all;
  pointer-events: none;
}

.group-filter select:focus + label,
.form-group select:valid + label {
  top: -20px;
  font-size: 14px;
  color: #fff;
  background: none;
}

.group-filter select:focus,
.form-group select:valid {
  outline: none;
  border-bottom: 1px solid;
  border-top: none;

}

.group-filter option, .groups-options {
  background: #203A43;
}

.container-chart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.chart {
    width: 45vw;
    background: #fff;
}

.tablet-container {
    width: 100%;
}